<div class='pure-g-r' ng-app ng-controller="DemoCtrl">
    <div class='pure-u-6-24'>
        <select
          ng-model="selected" 
          ng-options="c.item_name for c in filters" 
          class="form-control" multiple size="10">
        </select>
    </div>
    <div class='pure-u-18-24'>
      <div class="bs-docs-example">
        <div id='{{chartId}}' class='rChart'>
          <svg></svg>
        </div>
        {{# CODE }}<pre><code class='r'>{{CODE}}</code></pre>{{/ CODE }}
      </div>
    </div>
</div>




<script>
function DemoCtrl( $scope ){
  $scope.opts = {{{ chartParams }}}
  
  $scope.filters = _.map(_.unzip($scope.opts.filters),function(d){return _.zipObject(_.keys($scope.opts.filters),d)})
  
  d3.tsv("./data/ap.data.0.Current.tsv", function(err,data){
    $scope.data = data;
  })
  
  $scope.drawChart = function( data, info ){
    drawChart( $scope.opts, data, info )  
  }

  $scope.$watch('selected', function(){
    if (!(typeof($scope.selected) === "undefined")) {
      $scope.drawChart(
        _.select($scope.data, function(c){    
          return _.pluck($scope.selected,"series_id").indexOf(c.series_id.replace(/(\d\w*)\s*/,"$1")) != -1
          //leave regex just in case
          //.replace(/\w{3,4}0{3,4}(\d*)\s*/,"$1")
        }),
        $scope.selected
      )
    }
  }) 
}  


//nearly all the code can be attributed to http://bl.ocks.org/3891711

function drawChart( params, data, info ) {
  if( typeof(params.margins) === "undefined" ) {
    params.margins = params.margins ? params.margins : {top: 40, right: 220, bottom: 30, left: 100}
  }
  var width = params.width - params.margins.left - params.margins.right,
      height = params.height - params.margins.top - params.margins.bottom;
          
  //make our svg that will house the chart
  var svg = d3.select("#"+params.id).select("svg")[0][0] ? d3.select("#"+params.id).select("svg") :  d3.select("#"+params.id).append("svg")
    .attr("width", width + params.margins.left + params.margins.right)
    .attr("height", height + params.margins.top + params.margins.bottom)
  var chart = svg.select(".chart")[0][0] ? svg.select(".chart") : svg.append("g")
    .attr("class","chart")
    .attr("transform", "translate(" + params.margins.left + "," + params.margins.top + ")");        
          
      
  var format = d3.time.format("%b %Y");
  
  data.forEach(function(d){
    d.value = +d.value;
    d.year = +d.year;
    d.date = d3.time.format("M%m %Y").parse(d.period + " " + d.year)
  });
  
  var range = d3.extent(data,function(d) { return d.date; }  )
  
  var x = d3.time.scale()
      .range([0,width])
      .domain(range);
  
  var y = d3.scale.linear()
      .range([height, 0])
    
          
  
  var color = function(i) {
    return d3.hcl(48*i,95,45).toString();
  };
  

  data = d3.nest().key(function(d){return d.series_id.replace(/(\d\w*)\s*/,"$1")}).entries(data);
  
  //it seems to me cumulative growth is much better for comparison
  //let's do this calculation
  var maxcumul;
  data.forEach(function(series){
    series.values.forEach(function(period){
      period.cumul = period.value / series.values[0].value;
    })
    var seriesmax = d3.max(series.values,function(d){return d.cumul});
    maxcumul = maxcumul > seriesmax ? maxcumul : seriesmax;
  })
  
  y.domain([
      0,
      maxcumul
    ]);
    
  var xAxis = d3.svg.axis()
      .scale(x)
      .orient("bottom");
  
  var yAxis = d3.svg.axis()
      .scale(y)
      .orient("left");
  
  var line = d3.svg.line()
      .interpolate("basis")
      //.defined(function(d) { return d != null; })
      .x(function(d,i) {
        return x(d.date);
      })
      .y(function(d) { 
        return y(d.cumul);
      });    

  
    var xax = (chart.select(".x.axis")[0][0] ? chart.select(".x.axis") : chart.append("g"))
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);
  
    var yax = (chart.select(".y.axis")[0][0] ? chart.select(".y.axis") : chart.append("g"))
        .attr("class", "y axis")
        .call(yAxis);
        
    if(!(yax.select(".ylab")[0][0])) {
      yax
        .append("text")
          .attr("class","ylab")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", ".71em")
          .style("text-anchor", "end")
          .style("font-weight", "bold")
          .text("Cumulative Growth");
    }
    
    var series = chart.selectAll(".series").data(data)
    
    series.enter()
      .append("g")
      .attr("class","series")
        
    series.exit().remove(); 

    series.each(function(d,i){
      serie = d3.select(this);
      (serie.select(".line")[0][0] ? serie.select(".line") : serie.append("path").attr("class","line"))
        .attr("d", function(d){ return line(d.values) })
        .style("stroke", color(i));
      
     (serie.select(".invisible.hover")[0][0] ? serie.select(".invisible.hover") : serie.append("path").attr("class","invisible hover"))
        .attr("d", function(d){ return line(d.values) }) ;
        
     (serie.select(".label.hover")[0][0] ? serie.select(".label.hover") : serie.append("text").attr("class","label hover"))
        .datum({"y":y(serie.datum().values[serie.datum().values.length-1].cumul)})
        .attr("transform", function(d){
          return "translate(" + width + "," + d.y + ")"
        })
        .attr("x", 3)
        .attr("dy", ".35em")
        .style("fill", color(i))
        .style("font-size","9px")
        .text(_.filter(info,{"series_id":serie.datum().key})[0].item_name);        
    });
  
   /* var labels = newdata.map(function(d) { return {name: d.name, y: y(d.values[d.values.length - 1])}});

*/
  
    // constraint relaxation on labels
    var alpha = 0.5;
    var spacing = 12;
    function relax() {
      var again = false;
      d3.selectAll(".label").each(function(a,i) {
        d3.selectAll(d3.selectAll(".label")[0].slice(i+1)).each(function(b) {
          var dy = a.y - b.y;
          if (Math.abs(dy) < spacing) {
            again = true;
            var sign = dy > 0 ? 1 : -1;
            a.y += sign*alpha;
            b.y -= sign*alpha;
          }
        });
      });
      d3.selectAll(".label")
        .attr("transform", function(d) { return "translate(" + width + "," + d.y + ")"; });
      if (again) setTimeout(relax,20);
    };
  
    relax();
  
    series
        .on("mouseover", function(d,i) {
          d3.select(this).selectAll(".line")
            .style("opacity", 0.12)
            //.filter(function(p) { return p.name == d.name; })
            .style("opacity", 1)
            .style("stroke-width", 2.5);
          
          d3.select(this).selectAll("text")
            .style(
              "font-size",
              (+d3.select(this).selectAll("text").style("font-size").replace(/px/,"") * 1.5) + "px"
          )
        })
        .on("mouseout", function(d,i) {
          d3.select(this).selectAll(".line")
            .style("opacity", 1)
            .style("stroke-width", null);
          d3.select(this).selectAll("text")
            .style(
              "font-size",
              (+d3.select(this).selectAll("text").style("font-size").replace(/px/,"") / 1.5) + "px"
          )
        });
};


</script>